import { cn } from '@spotify/ui-react'

import type { __NamePascal__Props } from '@/__Layer__/__NameKebab__/model/__NameCamel__.types'

export function __NamePascal__({ className }: __NamePascal__Props) {
  return <section className={cn(className)} data-testid="__NameKebab__" />
}
