.resizeHandle {
  width: 0px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.2s ease;
  cursor: col-resize;
  position: relative;
}

.resizeHandle:hover {
  width: 6px;
  background-color: rgba(29, 185, 84, 0.8);
}

.resizeHandle:active {
  background-color: rgba(29, 185, 84, 1);
}

.panel {
  overflow: hidden;
}

.leftSidebar {
  border-radius: 8px;
  background-color: var(--color-bg-secondary);
  margin: 6px;
}

.mainContent {
  // background: linear-gradient(to bottom,
  //   #1a0f2e 0%,
  //   #4c2b6b 10%,
  //   #121212 20%
  // );
  border-radius: 8px;
  background-color: var(--color-bg-secondary);
  margin: 6px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom,
      #1a0f2e 0%,
      var(--violet-main-panel) 10%,
      var(--color-bg-secondary) 20%
    );
    border-radius: 8px;
    pointer-events: none;
    z-index: 0;
  }
}

.rightSidebar {
  background-color: var(--color-bg-secondary);
  margin: 6px;
  border-radius: 8px;
}
