.resizable-layout__handle {
  width: 0px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.2s ease;
  cursor: col-resize;
  position: relative;
}

.resizable-layout__handle:hover {
  width: 6px;
  background-color: rgba(29, 185, 84, 0.8);
}

.resizable-layout__handle:active {
  background-color: rgba(29, 185, 84, 1);
}

.resizable-layout__panel {
  overflow: hidden;
}

.resizable-layout__sidebar--left {
  border-radius: 8px;
  background-color: var(--color-bg-secondary);
  margin: 6px;
}

.resizable-layout__content {
  border-radius: 8px;
  background-color: var(--color-bg-secondary);
  margin: 6px;
  position: relative;


}

.resizable-layout__content::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom,
      #1a0f2e 0%,
      var(--violet-main-panel) 10%,
      var(--color-bg-secondary) 20%);
  border-radius: 8px;
  pointer-events: none;
  z-index: 0;
}

.resizable-layout__sidebar--right {
  background-color: var(--color-bg-secondary);
  margin: 6px;
  border-radius: 8px;
}