.header {
  @apply fixed top-0 left-0 right-0 z-50 transition-colors duration-300;
}

.header--scrolled {
  background-color: rgb(var(--color-bgSecondary-rgb), 1) !important;

  @apply backdrop-blur border-b border-white/10;
}

.inner {
  @apply px-8 py-8 flex justify-between items-center relative;
}

.nav {
  @apply flex items-center gap-16;

	&__list {
		@apply flex items-center gap-16 transition-all duration-300;
	}
}

.burger {
  @apply text-tBase hidden absolute z-20 right-8 top-8;
}

@media (width <= 1024px) {
  .burger {
    @apply block;
  }

  .mobile-layout {
    @apply fixed top-0 right-0 bottom-0 left-[-100%] bg-bgPrimary h-screen w-full z-10;
  }

  .mobile--active {
    @apply left-0;
  }

  .mobile--flex {
    @apply flex-col justify-center;
  }
}
