.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header--scrolled {
  background-color: rgb(var(--color-bgSecondary-rgb), 1) !important;
  backdrop-filter: blur(8px);
  border-bottom-width: 1px;
  border-color: color-mix(in srgb, var(--color-text) 10%, transparent);
}

.inner {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 4rem;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.burger {
  color: var(--color-text);
  display: none;
  position: absolute;
  z-index: 20;
  right: 2rem;
  top: 2rem;
}

@media (width <= 1024px) {
  .burger {
    display: block;
  }

  .mobile-layout {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: -100%;
    background-color: var(--color-bg);
    height: 100vh;
    width: 100%;
    z-index: 10;
  }

  .mobile--active {
    left: 0;
  }

  .mobile--flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
