@import "@spotify/ui-react/globals.css";

@theme {
  /* Breakpoints */
  --breakpoint-xs: 480px;
  --breakpoint-sm: 650px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1025px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

@layer base {
  * {
    scroll-behavior: smooth;
    font-family: var(--font-source-sans);
  }
}

@layer utilities {
  .container {
    max-width: 100%;
    padding-inline: 1.25rem;
    margin-inline: auto;
  }

  @media (min-width: 650px) {
    .container {
      max-width: 1540px;
    }
  }

  .bg-auth-spotify {
    background-image: linear-gradient(
      30deg,
      #0c7832,
      #601e7a,
      #121212,
      #820c17,
      #0c7832,
      #601e7a,
      #121212,
      #820c17
    );
  }

  .bg-gradient-animated {
    background-size: 600% 600%;
  }
}
