@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playpen+Sans:wght@100..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans 3", sans-serif;

}

/* START: General styles */
.max-width {
  @apply max-w-[1440px] mx-auto;
}


h1, h2, h3, h4, h5, h6 {
  @apply m-0 font-bold;
}

h1 {
  @apply text-[3.5rem] leading-[1.2] mb-4
         max-lg:text-4xl max-lg:leading-tight
         max-md:text-3xl max-md:leading-snug;
}

h2 {
  @apply text-[2.875rem] mb-3
         max-lg:text-3xl
         max-md:text-2xl;
}

h3 {
  @apply text-[2.25rem] mb-3
         max-lg:text-2xl
         max-md:text-xl;
}

h4 {
  @apply text-[1.875rem] mb-2
         max-lg:text-xl
         max-md:text-lg;
}

h5 {
  @apply text-[1.5rem] mb-2
         max-lg:text-lg
         max-md:text-base;
}

h6 {
  @apply text-[1.125rem] mb-2
         max-lg:text-base
         max-md:text-sm;
}

.wrap{
  @apply flex flex-col min-h-[100vh] bg-[#0A0A0A] text-white;
}

.header{
  @apply fixed top-0 left-0 right-0;
}

.container{
  @apply max-w-[1440px] mx-auto px-5 w-full;
}

.main{
  @apply flex-auto;
}

.header__wrap{
  @apply py-12 flex justify-between items-center;
}

.nav__link{
  @apply text-2xl hover:opacity-70 transition-[0.3s] relative transition-all;
}

.SMN_effect-16 a:before, .SMN_effect-16 a:after {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 100px;
	border: 2px solid rgba(255, 255, 255, 0.1);
	border-radius: 50%;
	content: '';
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
	-moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
	transform: translateX(-50%) translateY(-50%) scale(0.2);
}

.SMN_effect-16 a:after {
	width: 90px;
	height: 90px;
	border-width: 6px;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
	-moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
	transform: translateX(-50%) translateY(-50%) scale(0.8);
}

.SMN_effect-16 a:hover:before, .SMN_effect-16 a:hover:after, .SMN_effect-16 a:focus:before, .SMN_effect-16 a:focus:after {
	opacity: 1;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(1);
	-moz-transform: translateX(-50%) translateY(-50%) scale(1);
	transform: translateX(-50%) translateY(-50%) scale(1);
}


.footer__wrap{
  @apply py-12 grid  grid-cols-5 gap-8
}
