@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playpen+Sans:wght@100..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans 3", sans-serif;

}

/* START: General styles */
.max-width {
  @apply max-w-[1440px] mx-auto;
}


h1, h2, h3, h4, h5, h6 {
  @apply m-0 font-bold;
}


.wrap{
  @apply flex flex-col min-h-[100vh] bg-[#0A0A0A] text-white;
}

.container{
  @apply max-w-[1440px] mx-auto px-5 w-full;
}

.container-2{
	@apply max-w-[1540px] mx-auto px-5 w-full;
}

.main{
  @apply flex-auto;
}




.footer__wrap{
  @apply py-12 grid  grid-cols-5 gap-8
}


.bg-hero-gradient {
    background: linear-gradient(150deg, #0D2616 0%, #121212 99.04%);
  }
