@import "tailwindcss";

@source "../../src/**/*.{ts,tsx}";

@theme {
  /* Font Families */
  --font-family-source-sans-3: "Source Sans 3", sans-serif;

  /* Animations */
  --animate-gradient-shift: gradientShift 60s ease infinite;
  --animate-spin: spin 1s linear infinite;

  @keyframes gradientShift {
    0% {
      background-position: 0% 0%;
    }
    25% {
      background-position: 100% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    75% {
      background-position: 0% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

@layer base {
  * {
    scroll-behavior: smooth;
  }

  :root {
    --color-green-500: #1ed760;
    --color-green-600: #0e672e;
    --color-blue-500: #003480;
    --color-grey-500: #a7a7a7;
    --color-white: #fff;
    --color-black: #000;
    --color-black-900: #0a0a0a;
    --color-black-800: #121212;
    --color-white-100: #f7f7f7;
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  :root.dark {
    --color-bg: #0a0a0a;
    --color-bg-secondary: #121212;
    --color-text: #fff;
    --color-text-contrast: #000;
    --color-contrast: #fff;
    --color-bg-secondary-rgb: 10 10 10;
  }

  :root.light {
    --color-bg: #fff;
    --color-bg-secondary: #f7f7f7;
    --color-text: #0a0a0a;
    --color-contrast: #000;
    --color-text-contrast: #fff;
    --color-bg-secondary-rgb: 247 247 247;
  }
}

@layer utilities {
  .container {
    max-width: 100%;
    padding-inline: 1.25rem;
    margin-inline: auto;
  }

  @media (min-width: 650px) {
    .container {
      max-width: 1540px;
    }
  }

  .bg-auth-spotify {
    background-image: linear-gradient(
      30deg,
      #0c7832,
      #601e7a,
      #121212,
      #820c17,
      #0c7832,
      #601e7a,
      #121212,
      #820c17
    );
  }

  .bg-gradient-animated {
    background-size: 600% 600%;
  }
}
