.bgAnimatedGradient {
  animation: gradient-shift 60s ease infinite;
  background: linear-gradient(
    30deg,
    #0c7832,
    #601e7a,
    #121212,
    #820c17,
    #0c7832,
    #601e7a,
    #121212,
    #820c17
  );
  background-size: 600% 600%;
}

@keyframes gradient-shift {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
