.submenu-fade-enter {
  opacity: 0;
  transform: translateY(20px);
}

.submenu-fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity 300ms ease-out,
    transform 300ms ease-out;
}

.submenu-fade-exit {
  opacity: 1;
  transform: translateY(0);
}

.submenu-fade-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition:
    opacity 300ms ease-in,
    transform 300ms ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.4s ease-out forwards;
}

.link-underline { 
  position: relative; 
  display: inline-block;
}

.link-underline::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background-color: var(--color-white);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.link-underline:hover::before {
  transform: scaleX(1);
}
