@import "tailwindcss";
@import "./themes.css";

@source "../**/*.{ts,tsx,css}";
@source "../../../../apps/web-player/src/**/*.{ts,tsx,css}";
@source "../../../../apps/web-artists/src/**/*.{ts,tsx,css}";

@custom-variant light (&:is(.light *));
