/* Layout system */
@theme {
  /* Default radius - base value for calculations */
  /* 10 px */
  /* --radius: 0.625rem; */
  /* Border radius system */
  /* --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 2px);
  --radius-2xl: calc(var(--radius) + 4px); */
  /* 16px */
  /* --radius-3xl: 1rem;
  --radius-4xl: calc(var(--radius) + 8px);
  --radius-full: 9999px; */
}
