# Игнорируем все файлы в storage, кроме структуры папок
*
!.gitignore

# Сохраняем структуру папок
!public/
!public/users/
!public/users/avatars/
!public/users/avatars/.gitkeep

!public/artists/
!public/artists/avatars/
!public/artists/avatars/.gitkeep
!public/artists/backgrounds/
!public/artists/backgrounds/.gitkeep

!public/albums/
!public/albums/covers/
!public/albums/covers/.gitkeep

!public/playlists/
!public/playlists/covers/
!public/playlists/covers/.gitkeep

!public/tracks/
!public/tracks/covers/
!public/tracks/covers/.gitkeep

!private/
!private/tracks/
!private/tracks/.gitkeep
