@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--text-color: black;
	--background-start: white;
	--background-end: grey;
}
@media (prefers-color-scheme: dark) {
	:root {
		--text-color: white;
		--background-start: black;
		--background-end: black;
	}
}

@import './scrollbar.scss';

html {
	font-size: 20px;
}

body {
	color: var(--text-color);
	background: linear-gradient(
		135deg,
		var(--background-start) 0%,
		var(--background-end) 100%
	);
	height: 100vh;
	overflow: hidden;
}


