export {
  __NameCamel__Schema,
  type __NamePascal__,
} from '@/__Layer__/__NameKebab__/model'
export type {
  Create__NamePascal__Input,
  Update__NamePascal__Input,
  __NamePascal__Response,
} from '@/__Layer__/__NameKebab__/model'
export { __NamePascal__Api } from '@/__Layer__/__NameKebab__/api'
