export {
  __NameCamel__Schema,
  type __NamePascal__,
} from '@/__Layer__/__NameKebab__/model/schemas/__NameCamel__.schema'
export type {
  Create__NamePascal__Input,
  Update__NamePascal__Input,
} from '@/__Layer__/__NameKebab__/model/dtos/__NameCamel__.dto'
export type { __NamePascal__Response } from '@/__Layer__/__NameKebab__/model/responses/__NameCamel__.response.dto'
