export type { __NamePascal__Props } from '@/__Layer__/__NameKebab__/model'
export { __NamePascal__ } from '@/__Layer__/__NameKebab__/ui'
export { __NamePascal__Api } from '@/__Layer__/__NameKebab__/api'
