import { cn } from '@bitrate/ui-react'

type __NamePascal__Props = {
  className?: string
}

export function __NamePascal__({ className }: __NamePascal__Props) {
  return <section className={cn(className)} data-testid="__NameKebab__" />
}
